@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: #2B3138;
    height: 100vh;
    overflow-y: hidden;
    min-width: 500px;
    overflow-x: auto;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    transition: all 0.23s ease;
    outline: none;
}

#map {
    width: calc(100vw - 536px);
    height: calc(100vh - 30px);
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 476px;
    right: 60px;
    background: #FFF;
    border-radius: 10px;
}

.spacer-23 {
    display: block;
    width: 100%;
    height: 23px;
}

.spacer-15 {
    display: block;
    width: 100%;
    height: 15px;
}

.left-sidebar {
    position: fixed;
    width: 476px;
    background: #2B3138;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: calc(100vh);
}

.left-sidebar__left {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
    /*border: 1px solid red;*/
    padding: 23px 0 15px 0;
    justify-content: space-between;
    align-items: center;
}

.left-sidebar__left-top {
    width: 100%;
    height: 333px;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left-sidebar__left-bottom {
    width: 40px;
    height: 40px;
    /*border: 1px solid green;*/
}

.left-sidebar__right {
    display: flex;
    flex-direction: column;
    width: 416px;
    height: 100%;
    /*border: 1px solid red;*/
}

.left-sidebar__right-top {
    width: 100%;
    height: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 0 15px;
    margin-bottom: 20px;
    /*border: 1px solid red;*/
}

.left-sidebar__right-bottom {
    width: 100%;
    height: calc(100% - 123px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-left: 1px solid #22282F;
    border-top: 1px solid #22282F
}

.left-sidebar__right-bottom-footer {
    height: 39px;
    min-height: 39px;
    border-top: 1px solid #22282F;
    border-left: 1px solid #22282F;
    width: 100%;
    padding: 0 20px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-sidebar__right-bottom-footer-left {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #C5C5C5;
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.left-sidebar__right-bottom-footer-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.right-sidebar {
    position: fixed;
    width: 60px;
    background: #2B3138;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    height: calc(100vh);
}

.left-sidebar__right-bottom__row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 57px;
    min-height: 57px;
    padding: 0 15px;
    /*border: 1px solid red;*/
}

.left-sidebar__right-bottom__row1-left {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #EEEEEE;
}

.left-sidebar__right-bottom__row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 10px;
    display: flex;
    width: 385px;
    height: 76px;
    min-height: 76px;
    background: #262B32;
    border: 1px solid #3E4751;
    border-radius: 15px;
}

.left-sidebar__right-bottom__row2-left {
    width: 345px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /*border: 1px solid red;*/
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.left-sidebar__right-bottom__row2-left::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.left-sidebar__right-bottom__row2-left_item {
    background: #454C52;
    border-radius: 6px;
    max-width: 215px;
    width: fit-content;
    height: 23px;
    min-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    margin-right: 6px;
    margin-bottom: 6px;
    transition: all .23s ease;
    cursor: default;
}

.left-sidebar__right-bottom__row2-left_item:hover {
    background: #4DB6BC;
}

.left-sidebar__right-bottom__row2-left_item:hover .search__left-item_text {
    color: #2B3138;
}

.left-sidebar__right-bottom__row2-left_item:hover .passive_sensor_filter.gray {
    background: #2B3138;
}

.left-sidebar__right-bottom__row2-left_item:hover .angle_filter.gray {
    background: #2B3138;
}

.left-sidebar__right-bottom__row2-left_item:hover .calendar_filter.gray {
    background: #2B3138;
}

.left-sidebar__right-bottom__row2-left_item:hover .close_filter.gray {
    background: #2B3138;
}

.close_filter.gray:hover {
    background: #F05E5E !important;
}

.search__left-item {
    display: flex;
    /*border: 1px solid red;*/
    width: auto;
    min-width: 30px;
    max-width: 183px;
    overflow: hidden;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search__left-item_text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #C5C5C5;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-sidebar__right-bottom__row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
    display: flex;
    width: 385px;
    height: 33px;
    min-height: 33px;
    /*border: 1px solid red;*/
    margin: 21px 0;
}

.left-sidebar__right-bottom__row3_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 193px;
    height: 33px;
    border: 1px solid #3E4751;
    border-radius: 17px;
}

button.left-sidebar__right-bottom__row3_left_button-l {
    width: 90px;
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: transparent;
    border-radius: 17px;
    border: 1px solid transparent;
    color: #C5C5C5;
}

button.left-sidebar__right-bottom__row3_left_button-r {
    width: 103px;
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: transparent;
    border-radius: 17px;
    border: 1px solid transparent;
    color: #C5C5C5;
}

button.left-sidebar-active {
    background: #4DB6BC;
    color: #2B3138;
}

button.left-sidebar__right-bottom__row3_right_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 33px;
    padding: 15px;
    border: 1px solid #3E4751;
    border-radius: 17px;
    background: transparent;
    color: #C5C5C5;
    font-weight: bold;
    font-size: 12px;
}

.left-sidebar__right-bottom__row4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    display: flex;
    width: 385px;
    min-height: 33px;
    /*border: 1px solid red;*/
    margin: 21px 0;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    /* -ms-overflow-style: none;*/
    /* Internet Explorer 10+ */
    /*scrollbar-width: none;*/
    /* Firefox */
}

/*.left-sidebar__right-bottom__row4::-webkit-scrollbar {
    display: none;*/
/* Safari and Chrome */
/*}*/
.left-sidebar__right-bottom__row4-in {
    height: 140px;
    min-height: 140px;
    width: 100%;
    /*border: 1px solid red;*/
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    transition: all 0.13s linear;
}

.left-sidebar__right-bottom__row4-in:hover {
    background: #383F48;
}

.left-sidebar__right-bottom__row4-in-left {
    width: 140px;
    height: 140px;
    background: #262B32;
    border: 1px solid #3E4751;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-sidebar__right-bottom__row4-in-left-in {
    background-repeat: no-repeat;
    background-position: center;
    width: 126px;
    height: 126px;
}

.map1 {
    background: url('../assets/map1.png');
}

.map2 {
    background: url('../assets/map2.png');
}

.map3 {
    background: url('../assets/map3.png');
}

.left-sidebar__right-bottom__row4-in-right {
    width: 245px;
    height: 140px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left-sidebar__right-bottom__row4-in-right-el {
    height: 27px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #C5C5C5;
    position: relative;
    cursor: default;
}

.left-sidebar__right-bottom__row4-in-separator {
    width: 100%;
    height: 3px;
    display: block;
    border-bottom: 1px solid #3E4751;
    margin-bottom: 10px;
}

.right-sidebar__top {
    display: flex;
    width: 100%;
    height: 333px;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-sidebar__bottom {
    display: flex;
    width: 40px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-sidebar__bottom_num {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #C5C5C5;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #3E4751;
    border-bottom: 1px solid #3E4751;
    width: 100%;
    max-width: 23px;
}

.left-sidebar__right-bottom__row4-in .favorites_table {
    display: none;
}

.left-sidebar__right-bottom__row4-in:hover .favorites_table {
    display: block;
}

.blue-active {
    border: 2px solid #4DB6BC;
}

/*BEGIN SCROLLBAR STYLES*/
.style-4::-webkit-scrollbar-track {
    background-color: #2B3138;
    ;
}

.style-4::-webkit-scrollbar {
    width: 6px;
    background-color: #454C52;
    ;
}

.style-4::-webkit-scrollbar-thumb {
    background-color: #454C52;
    ;
    border: 2px solid #454C52;
    border-radius: 3px;
}

/*END SCROLLBAR STYLES*/
.popup-large-size {
    display: flex;
    flex-direction: row;
    min-height: 55px;
    width: 569px;
    background: #2B3138;
    border-radius: 6px;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
}

.warning-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #C5C5C5;
}

.copyright {
    background-repeat: no-repeat;
    background-image: url(../assets/copyright.png);
    width: 353px;
    height: 14px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

input.header-input {
    height: 40px;
    width: 373px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.0001 7.39998L0.600098 1.99998L2.0001 0.599976L6.0001 4.59998L10.0001 0.599976L11.4001 1.99998L6.0001 7.39998Z' fill='%23C5C5C5'/%3E%3C/svg%3E");
    background-color: #2B3138;
    background-position: 340px center;
    border: 0px solid #2B3138;
    background-repeat: no-repeat;
    outline: none;
    border-radius: 6px;
    text-indent: 17px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #B4B4B4;
    padding-right: 17px;
    position: absolute;
    top: 5px;
    left: 5px;
}

input.header-input:focus {
    height: 40px;
    width: 373px;
    background-color: #2B3138;
    background-position: 340px center;
    transition: background 0.33s ease;
    text-indent: 17px;
}

input.header-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #B4B4B4;
    opacity: 0.3;
    transition: all 0.23s ease;
}

input.header-input::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #B4B4B4;
    opacity: 0.3;
    transition: all 0.23s ease;
}

input.header-input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #B4B4B4;
    opacity: 0.3;
    transition: all 0.23s ease;
}

input.header-input:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #B4B4B4;
    opacity: 0.3;
    transition: all 0.23s ease;
}

input.header-input:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: transparent;
    display: none;
}

input.header-input:focus::-moz-placeholder {
    /* Firefox 19+ */
    color: transparent;
}

input.header-input:focus:-ms-input-placeholder {
    /* IE 10+ */
    color: transparent;
}

input.header-input:focus:-moz-placeholder {
    /* Firefox 18- */
    color: transparent;
}

.popup-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 230px;
    height: 96px;
    background: #2B3138;
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 8px;
    cursor: pointer;
    transition: all 0.13s ease;
}

.popup-about-left {
    width: 79px;
    min-width: 79px;
    height: 79px;
    background-image: url(../assets/map2-mini.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.popup-about-right {
    width: 130px;
    height: 100%;
}

.popup-about-right__row {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #C5C5C5;
    display: flex;
    flex-direction: row;
    height: 17px;
    padding-left: 13px;
    align-items: center;
}

.popup-about .favorites_table {
    display: none;
    transition: all 0.13s ease;
}

.popup-about .favorites_table_added {
    display: none;
    transition: all 0.13s ease;
}

.popup-about:hover .favorites_table {
    display: block;
}

.popup-about:hover .favorites_table_added {
    display: block;
}

.popup-right-click {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 64px;
    background: #2B3138;
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4px 15px;
    cursor: pointer;
    transition: all 0.13s ease;
}

.popup-right-click__row {
    height: 26px;
    min-height: 26px;
    width: inherit;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all 0.13s ease;
    margin: 0 -15px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #C5C5C5;
}

.popup-right-click__row:hover {
    background: #383f48;
}

.popup-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 76px;
    background: #2B3138;
    border-radius: 8px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 15px;
    cursor: pointer;
    transition: all 0.13s ease;
}

.popup-login__row {
    height: 26px;
    min-height: 26px;
    width: inherit;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all 0.13s ease;
    margin: 0 -15px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #C5C5C5;
}

.popup-login__row:hover {
    background: #383f48;
}

.popup-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 154px;
    background: #2B3138;
    border-radius: 8px;
    position: absolute;
    top: 273px;
    right: 5px;
    padding: 12px;
    transition: all 0.13s ease;
}

.popup-stack-in {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.popup-stack__row {
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    width: 191px;
    overflow: hidden;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all 0.13s ease;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #C5C5C5;
    border-radius: 8px;
    margin-bottom: 3px;
}

.popup-stack__row-left {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 8px;
}

.popup-stack__row-left-active {
    border: 1px solid #4DB6BC;
}

.popup-stack__row:hover {
    background: #383f48;
}

.color-blue {
    color: #4DB6BC;
}

.map-stack {
    background: url(../assets/map_stack.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

.sputnik-stack {
    background: url(../assets/sputnik_stack.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

.kadastr-stack {
    background: url(../assets/kadastr_stack.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

.popup-compass {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 81px;
    height: 38px;
    background: #2B3138;
    border-radius: 8px;
    position: absolute;
    top: 62px;
    right: 5px;
    transition: all 0.13s ease;
}